<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>co.krypt.krssh-agent</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/krssh-agent</string>
	</array>
	<key>Sockets</key>
	<dict>
		<key>AuthListener</key>
		<dict>
			<key>SecureSocketWithKey</key>
			<string>KRSSH_AUTH_SOCK</string>
		</dict>
		<key>CtlListener</key>
		<dict>
			<key>SecureSocketWithKey</key>
			<string>KRSSH_CTL_SOCK</string>
		</dict>
	</dict>
	<key>EnableTransactions</key>
	<true/>
</dict>
</plist>
